# Database
DATABASE_URL=postgresql://user:pass@ep-xxx.us-east-2.aws.neon.tech/knissradar?sslmode=require

# Redis
REDIS_URL=redis://default:xxx@upstash.io:6379

# Server
PORT=3000
HOST=0.0.0.0
NODE_ENV=development

# Chargily Pay (later)
CHARGILY_API_KEY=
CHARGILY_SECRET_KEY=

# Telegram Bot (later)
TELEGRAM_BOT_TOKEN=
